{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Products</h1>
<table class="product-table">
    <thead>
    <tr><th>Product</th><th class="number">Quantity</th><th></th></tr>
    </thead>
    {%for product in products%}
    <tr>
        <th><a href="{% url 'product' product.id %}">{{product.name}}</a></th>
        <td class="number">{{product.quantity}}</td>
        <td>
            {% if user.is_authenticated %}
                {% if product.quantity > 0 %} 
                <form action="{% url 'remove_product' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product.id}}"/>
                    <input type="submit" class="--bt-remove-product" value="Sell"/>
                </form>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}